/* Bag page */
.bag-header {
  text-align: center;
  color: var(--primary);
  margin-top: 30px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty-bag {
  text-align: center;
  color: var(--primary);
  margin-top: 50px;
  font-size: 1.2rem;
  grid-column: 1 / -1;
}

.checkout-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
